{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <p class="text-secondary">{{ user.firstname}} {{ user.lastname}}</p>
      </div>
    </div>
    <!-- FORM HERE -->
    {% if user.id == current_user.id %}
    <a class="btn btn-outline-primary ml-2" href="{{ url_for('update_profile')}}" role="button">Edit Profile</a>
    {% endif %}
  </div>
{% endblock %}